body{
    border: 2px red dotted;
    height: 100%;
    width: 100%;
}

header{
    background-color: black;
    color: white;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

